:root {
  --white: #fff;
  --grey1: #6f6f89;
  --grey2: #5f5f79;
  --grey3: #494964;
  --black: #000;
  --pink: #c36cbb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

@import "header";
@import "presentation";
@import "select";
@import "circles";
@import "keyframes";
@import "media";